zoom {
    padding: 50px;
    transition: transform .4s;
    width: auto;
    height: 300px;
    margin: 0 auto;
    }
    .zoom:hover {
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(2); 
    }
    .h2 {
color:forestgreen;

    }